<!--The content below is only a placeholder and can be replaced.-->
<!-- <app-profile-editor></app-profile-editor> -->
<!-- <app-name-editor></app-name-editor> -->

<!-- <app-validator-test></app-validator-test> -->
<!-- <h2>Job Application for Heroes</h2>
<app-dynamic-form [questions] = "questions"></app-dynamic-form> -->
<!-- <a routerLink="login" class="btn btn-lg btn-primary">Login</a><br>
<a routerLink="signUp" class="btn btn-lg btn-danger">Sign Up</a> -->
<!-- <app-start-page></app-start-page> -->
<router-outlet> </router-outlet>
